@import '../shared.scss';

.modal-outer-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 1;
}

.modal-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  border-radius: 5px;
  max-height: 98%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;

  .close {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 1.15rem;
    right: 1rem;
    cursor: pointer;
    background-image: url(/images/close.svg);
    background-repeat: no-repeat;
  }

  .modal-header {
    border-bottom: $border-style;
    padding: 1rem;
  }
}
