.hover-tooltip {
  position: relative;
  display: inline-block;

  i.fa {
      margin-left: .5rem;
      line-height: 1.5;
      font-size: 1rem;
      color: #3293fd;
  }

  .tooltip-content {
      position: absolute;
      width: auto;
      white-space: nowrap;
      padding: .5rem;
      font-size: .9rem;
      text-transform: initial;    
      line-height: initial;  
      background-color: #f3f3f3;
      box-shadow: 0px 0px 20px 1px #bbbbbb;
      color: initial; 
      z-index: 2;
      
      &.right {
          left: 0;
      }

      &.left {
          right: 0;
      }

      &.top {
          bottom: 2.5rem;
      }

      &.bottom {
          top: 2rem;
      }

      &.fixed {
          white-space: normal;
      }
  }
}
