@import "../../common/shared";

.nav-bar {
  padding: 1rem;
  border-bottom: $border-style;

  .header {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 100;
    margin-top: .6rem;
    color: #777777;
  }

  .logo {
    height: 50px;
  }
}
