@import "../../common/shared.scss";

.market-stats {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: $border-style;

  .market-stats-token-container {
    border-right: $border-style;
    margin-right: 1rem;
    padding-right: 1rem;

    &:last-child {
      border-right: none;
    }
  }

  .market-stats-line-item {
    font-size: .9rem;
  }

  .market-stats-token-label {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: .25rem;

    .token-name {
      color: #7d7d7d;
      font-size: .9rem;
      margin-left: .25rem;
      font-weight: 100;
    }
  }

  .market-stats-amount-label {
    font-weight: 400;
    margin-right: .25rem;
  }
}
