@import "../../common/shared.scss";

.market-stats {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: $border-style;

  .market-stats-token-container {
    border-right: $border-style;
    margin-right: 1rem;
    padding-right: 1rem;

    &:last-child {
      border-right: none;
    }
  }

  .market-stats-line-item {
    margin-bottom: .15rem;
  }

  .market-stats-token-label {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .25rem;

    .token-symbol {
      font-size: 1.5rem;
      font-weight: 300;
    }

    .token-name {
      color: #9CA1B9;
      font-size: 1rem;
      margin-left: .5rem;
      font-weight: 300;
    }
  }

  .market-stats-amount-label {
    font-size: .8rem;
    font-weight: 300;
    margin-right: .25rem;
    color: #9CA1B9;
  }

  .market-stats-amount {
    color: #2B2C33;
    font-size: .8rem;
  }
}
