@import "./vendor/font-awesome/scss/font-awesome.scss";
@import "common/shared.scss";

$pewter: #7EA1E4;

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 320px;
}

#app, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

$stdPadding: 1rem;

.h-padding {
    padding-left: $stdPadding;
    padding-right: $stdPadding;
}

.v-padding {
    padding-top: $stdPadding;
    padding-bottom: $stdPadding;
}

.t-padding { padding-top: $stdPadding; }
.r-padding { padding-right: $stdPadding; }
.b-padding { padding-bottom: $stdPadding; }
.l-padding { padding-left: $stdPadding; }

.h-margin {
    margin-left: $stdPadding;
    margin-right: $stdPadding;
}

.v-margin {
    margin-top: $stdPadding;
    margin-bottom: $stdPadding;
}

.t-margin { margin-top: $stdPadding; }
.r-margin { margin-right: $stdPadding; }
.b-margin { margin-bottom: $stdPadding; }
.l-margin { margin-left: $stdPadding; }

.fl {
  display: flex;
}

.c {
  justify-content: center;
}

.sb {
  justify-content: space-between;
}

.fe {
  justify-content: flex-end;
}

.vc {
  align-items: center;
}

.oa {
  overflow: auto;
}

.grow {
  flex: 1;
}

.ta-l {
  text-align: left;
}

.ta-r { 
  text-align: right;
}

.ta-c {
  text-align: center;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.co {
  flex-direction: column;
}

h1 {
  margin: 0;
  font-weight: 100;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

span.link {
  color: $primary;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}
